$font-stack:    Helvetica, sans-serif;
$primary-color: #d3a91f;
$secondary-color: #141212;
$width: 100%;
$space: 20px;
$hover-color:#92b992;

html, body, p , ul{
    margin: 1;
    padding: 0;
  }
  body {
    font: 100% $font-stack;
    color: $primary-color;
  
  }
  header{
      padding:$space*2 0 $space;
  }
  ul {
    list-style: none;

    li {
        margin: 0;
        display: inline;
        a {
            text-decoration: none;
            color: $secondary-color;
            background: $primary-color;
            padding: $space/4 $space/2;
        }
    }
}

a:nth-child(odd):hover{
    background-clip: red;
}

article {
    background: grayscale($primary-color);
    color: $secondary-color;
    padding: $space/2;
}
main {
    width: $width*.9;
    margin: 0 auto;
    background: lighten($primary-color, 10%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $space/2;
  }

article:nth-child(1){
    background: white;
}

 
article:nth-child(2){
    grid-column: 2/5;
    color: $primary-color;
}

article:nth-child(3){
    grid-column:1/4;
    color: $primary-color; 
}

article:nth-child(5){
    grid-column: 1/2;
}
article:nth-child(6){
    grid-column: 2/5;
    color: $primary-color;
}


article:nth-child(7){
    grid-column: 1/4;
    color: $primary-color;
}

article:nth-child(8){
    grid-column: 4/5;
    
}

article:nth-child(9){
    grid-column: 1/2;
    
}

article:nth-child(10){
    grid-column: 2/5;
    color: $primary-color;
}
article:nth-child(11){
    grid-column: 1/4;
    color: $primary-color;
    
}
article:nth-child(12){
    background-color: white;
    ;
}

article::first-letter { 
    font-size: 150%;
}



a::before{
    content: "~";
}

blockquote::before{
    content: " „ ";
}

blockquote::after{
    content: '"';
}

li:nth-child:hover(){
    color: yellow;

    
}

li:nth-child:hover(2){
    
   color:blue;
}



li {
    margin: 0;
    display: inline;

    &:nth-child(1) a:hover{
        background-color: #3e3edd;
    }
    &:nth-child(2) a:hover{
        background-color: #3edd4b;
    }

    &:nth-child(3) a:hover{
        background-color: #3e3edd;
    }

    &:nth-child(4) a:hover{
        background-color: #3e90dd;
    }

    &:nth-child(5) a:hover{
        background-color: #f54f0d;
    }

    &:nth-child(6) a:hover{
        background-color: #dd3e9b;
    }
    a {
        text-decoration: none;
        color: $secondary-color;
        background: $primary-color;
        padding: $space/4 $space/2;

        &:hover{
            background-color: $hover-color;
            transition: background-color 0.5s ease;
            
        }
    }
}
